/**
 * More.less: A Less CSS Library
 * Version 1.1.1
 */

@cacheBuster: ~`"?" + Math.floor(Math.random() * 10000)`;

.animation(@val)  {
	-webkit-animation: @val;
	-moz-animation: @val;
	-ms-animation: @val;
	animation: @val;
}

.animation-name(@name) {
	-webkit-animation-name: @name;
	-moz-animation-name: @name;
	-ms-animation-name: @name;
	animation-name: @name;
}

.animation-duration(@duration) {
	-webkit-animation-duration: @duration;
	-moz-animation-duration: @duration;
	-ms-animation-duration: @duration;
	animation-duration: @duration;
}

.animation-timing-function(@timing-function) {
	-webkit-animation-timing-function: @timing-function;
	-moz-animation-timing-function: @timing-function;
	-ms-animation-timing-function: @timing-function;
	animation-timing-function: @timing-function;
}

.animation-delay(@delay) {
	-webkit-animation-delay: @delay;
	-moz-animation-delay: @delay;
	-ms-animation-delay: @delay;
	animation-delay: @delay;
}

.animation-iteration-count(@iteration-count) {
	-webkit-animation-iteration-count: @iteration-count;
	-moz-animation-iteration-count: @iteration-count;
	-ms-animation-iteration-count: @iteration-count;
	-o-animation-iteration-count: @iteration-count;
  animation-iteration-count: @iteration-count;
}

.animation-direction(@direction) {
	-webkit-animation-direction: @direction;
	-moz-animation-direction: @direction;
  -o-animation-direction: @direction;
	animation-direction: @direction;
}

.animation-play-state(@state) {
	-webkit-animation-play-state: @state;
	-moz-animation-play-state: @state;
	-ms-animation-play-state: @state;
  -o-animation-play-state: @state;
	animation-play-state: @state;
}

.appearance(@appearance) {
	-webkit-appearance: @appearance;
	-moz-appearance: @appearance;
	appearance: @appearance;
}

.backface-visibility(@visibility) {
	-webkit-backface-visibility: @visibility;
	-moz-backface-visibility: @visibility;
	-ms-backface-visibility: @visibility;
	backface-visibility: @visibility;
}

.background-clip(@clipping) {
	-webkit-background-clip: @clipping;
	background-clip: @clipping;
}

.background-gradient(@startcolor, @endcolor) {
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d,endColorstr=%d)", @startcolor, @endcolor));
	background: -webkit-gradient(linear, left top, left bottom, from(@startcolor), to(@endcolor));
	background: -moz-linear-gradient(top,  @startcolor,  @endcolor);
	background: -ms-linear-gradient(top,  @startcolor,  @endcolor);
	background: @startcolor;
}

.background-size(@type: cover) {
	-webkit-background-size: @type;
	-moz-background-size: @type;
	-o-background-size: @type;
	background-size: @type;
}

.border-image(@image) {
	-webkit-border-image: @image;
	-moz-border-image: @image;
	-o-border-image: @image;
	border-image: @image;
}

.border-radius(@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.box-align(@alignment) {
	-webkit-box-align: @alignment;
	-moz-box-align: @alignment;
	box-align: @alignment;
}

.box-direction(@direction) {
	-webkit-box-direction: @direction;
	-moz-box-direction: @direction;
	box-direction: @direction;
}

.box-flex(@flexibility) {
	-webkit-box-flex: @flexibility;
	-moz-box-flex: @flexibility;
	box-flex: @flexibility;
}

.box-ordinal-group(@group) {
	-webkit-box-ordinal-group: @group;
	-moz-box-ordinal-group: @group;
	box-ordinal-group: @group;
}

.box-orient(@orientation) {
	-webkit-box-orient: @orientation;
	-moz-box-orient: @orientation;
	box-orient: @orientation;
}

.box-pack(@position) {
	-webkit-box-pack: @position;
	-moz-box-pack: @position;
	box-pack: @position;
}

.box-shadow(@shadow) {
	-webkit-box-shadow: @shadow;
	-moz-box-shadow: @shadow;
	box-shadow: @shadow;
}

.box-sizing(@sizing) {
	-webkit-box-sizing: @sizing;
	-moz-box-sizing: @sizing;
	box-sizing: @sizing;
}

.column-gap(@sizing) {
	-webkit-column-gap: @sizing;
	-moz-column-gap: @sizing;
	column-gap: @sizing;
}

.column-rule(@width, @style, @color) {
	@val: @width @style @color;

	-webkit-column-rule: @val;
	-moz-column-rule: @val;
	column-rule: @val;
}

.column-rule-color(@color) {
	-webkit-column-rule-color: @color;
	-moz-column-rule-color: @color;
	column-rule-color: @color;
}

.column-rule-style(@style) {
	-webkit-column-rule-style: @style;
	-moz-column-rule-style: @style;
	column-rule-style: @style;
}

.column-rule-width(@width) {
	-webkit-column-rule-width: @width;
	-moz-column-rule-width: @width;
	column-rule-width: @width;
}

.column-span(@span) {
	-webkit-column-span: @span;
	column-span: @span;
}

.column-width(@width) {
	-webkit-column-width: @width;
	-moz-column-width: @width;
	column-width: @width;
}

.columns(@width, @count) {
	@val: @width @count;

	-webkit-columns: @val;
	columns: @val;
}

.column-count(@count) {
	-webkit-column-count: @count;
	-moz-column-count: @count;
	column-count: @count;
}

.marquee-direction(@direction) {
	-webkit-marquee-direction: @direction;
	-moz-marquee-direction: @direction;
	marquee-direction: @direction;
}

.marquee-play-count(@count) {
	-webkit-marquee-count: @count;
	-moz-marquee-count: @count;
	marquee-count: @count;
}

.marquee-speed(@speed) {
	-webkit-marquee-speed: @speed;
	-moz-marquee-speed: @speed;
	marquee-speed: @speed;
}

.marquee-style(@style) {
	-webkit-marquee-style: @style;
	-moz-marquee-style: @style;
	marquee-style: @style;
}

.perspective(@perspective) {
	-webkit-perspective: @perspective;
	perspective: @perspective;
}

.perspective-origin(@x-axis, @y-axis) {
	@val: @x-axis @y-axis;

	-webkit-perspective-origin: @val;
	perspective-origin: @val;
}

.phonemes(@phonemes) {
	-xv-phonemes: @phonemes;
	phonemes: @phonemes;
}

.opacity(@alpha) {
	@alpha-ie: @alpha * 100;

	filter: e('alpha(opacity=')@alpha-ie e(')');
	-khtml-opacity: @alpha;
	-moz-opacity: @alpha;
	opacity: @alpha;
}

.transform(@degrees) {
	-webkit-transform: rotate( @degrees );
	-moz-transform: rotate( @degrees );
	-ms-transform: rotate( @degrees );
	-o-transform: rotate( @degrees );
	transform: rotate( @degrees );
}

.transform-origin(@x-axis, @y-axis) {
	@val: @x-axis @y-axis;

	-webkit-transform-origin: @val;
	-moz-transform-origin: @val;
	-ms-transform-origin: @val;
	-o-transform-origin: @val;
	transform-origin: @val;
}

.transform-style(@style) {
	-webkit-transform-style: @style;
	transform-style: @style;
}

.transition(@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	-ms-transition: @transition;
	-o-transition: @transition;
	transition: @transition;
}

.transition-transform(@transition) {
  -webkit-transition-property: -webkit-transform @transition;
	-moz-transition-property: -moz-transform @transition;
	-ms-transition-property: -ms-transform @transition;
	-o-transition-property: -o-transform @transition;
	transition: @transition;
}

.transition-property(@property) {
	-webkit-transition-property: @property;
	-moz-transition-property: @property;
	-ms-transition-property: @property;
	-o-transition-property: @property;
	transition-property: @property;
}

.transition-property-transform(@property) {
	-webkit-transition-property: -webkit-transform @property;
  -moz-transition-property: -moz-transform @property;
  -ms-transition-property: -ms-transform @property;
  -o-transition-property: -o-transform @property;
	transition-property: @property;
}

.transition-duration(@duration) {
	-webkit-transition-duration: @duration;
	-moz-transition-duration: @duration;
	-ms-transition-duration: @duration;
	-o-transition-duration: @duration;
	transition-duration: @duration;
}

.transition-timing-function(@function) {
	-webkit-transition-timing-function: @function;
	-moz-transition-timing-function: @function;
	-ms-transition-timing-function: @function;
	-o-transition-timing-function: @function;
	transition-timing-function: @function;
}

.transition-delay(@delay) {
	-webkit-transition-delay: @delay;
	-moz-transition-delay: @delay;
	-ms-transition-delay: @delay;
	-o-transition-delay: @delay;
	transition-delay: @delay;
}

.voice-balance(@balance) {
	-xv-voice-balance: @balance;
	voice-balance: @balance;
}

.voice-duration(@duration) {
	-xv-voice-duration: @duration;
	voice-duration: @duration;
}

.voice-pitch(@pitch) {
	-xv-voice-pitch: @pitch;
	voice-pitch: @pitch;
}

.voice-pitch-range(@range) {
	-xv-voice-pitch-range: @range;
	voice-pitch-range: @range;
}

.voice-rate(@rate) {
	-xv-voice-rate: @rate;
	voice-rate: @rate;
}

.voice-stress(@stress) {
	-xv-voice-stress: @stress;
	voice-stress: @stress;
}

.voice-volume(@volume) {
	-xv-voice-volume: @volume;
	voice-volume: @volume;
}

// Additional functions
// --------------------
.clear-float() {
	&:after {
		clear: both;
	    content: ".";
	    display: block;
	    height: 0;
	    visibility: hidden;
	}
}

.display-inline-block() {
	display: inline-block;
	zoom: 1;
	*display: inline;
}

// Selection colours (easy to forget)
.select-color(@color) {
	* {
		&::-webkit-selection { background: @color; }
		&::-moz-selection { background: @color; }
		&::selection { background: @color; }

		img {
			&::-webkit-selection { background: transparent; }
			&::-moz-selection { background: transparent; }
			&::selection { background: transparent; }
		}
	}
}

// http://meyerweb.com/eric/tools/css/reset/
//   v2.0 | 20110126
//   License: none (public domain)
.reset() {
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed,
	figure, figcaption, footer, header, hgroup,
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	// HTML5 display-role reset for older browsers
	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
}

// Generate font-face declarations
.font-face(@family, @filename, @filepath, @weight: normal, @style: normal) {
  @font-eot:    e(%('%s%s.eot%d', @filepath, @filename, @cacheBuster));
  @font-eot-ie: e(%("%s%s.eot%d#iefix", @filepath, @filename, @cacheBuster));
  @font-woff:   e(%("%s%s.woff%d", @filepath, @filename, @cacheBuster));
  @font-ttf:    e(%("%s%s.ttf%d", @filepath, @filename, @cacheBuster));
  @font-svg:    e(%("%s%s.svg%d#%s", @filepath, @filename, @cacheBuster, @filename));

  @font-face {
    font-family: '@{family}';
    src: url('@{font-eot}');
    src: url('@{font-eot-ie}') format('embedded-opentype'),
         url('@{font-svg}') format('svg'),
         url('@{font-woff}') format('woff'),
         url('@{font-ttf}') format('truetype');
    font-weight:  @weight;
    font-style:   @style;
  }
}
