/**
 * More.less: A Less CSS Library
 * Version      : 0.9
 * Last Updated : 2012-01-01
 * Author       : Roel van Hintum
 * Website      : http://roel.vanhintum.eu
 */

.appearance(@appearance) {
	-webkit-appearance: @appearance; /* Safari and Chrome */
	-moz-appearance: @appearance; /* Firefox */
	appearance: @appearance;
}

.backface-visibility(@visibility) {
	-webkit-backface-visibility: @visibility; /* Safari and Chrome */
	-moz-backface-visibility: @visibility; /* Firefox */
	-ms-backface-visibility: @visibility; /* Internet Explorer */
	backface-visibility: @visibility;
}

.background-gradient(@angle: top, @startcolor, @endcolor) {
	background: @startcolor;
	background: -webkit-linear-gradient(@angle,  @startcolor,  @endcolor); /* Safari and Chrome */
	background: -moz-linear-gradient(@angle,  @startcolor,  @endcolor); /* Firefox 3.6+ */
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d,endColorstr=%d)", @startcolor, @endcolor)); /* Internet Explorer */
	background: linear-gradient(@angle,  @startcolor,  @endcolor);
}

.border-image(@image) {
	-webkit-border-image: @image; /* Safari and Chrome */
	-o-border-image: @image; /* Opera */
	border-image: @image;
}

.box-shadow(@shadow) {
	-webkit-box-shadow: @shadow; /* Safari and Chrome */
	box-shadow: @shadow;
}

.box-sizing(@sizing) {
	-webkit-box-sizing: @sizing; /* Safari */
	-moz-box-sizing: @sizing; /* Firefox */
	box-sizing: @sizing;
}

.keyframes(@name, @from, @to) {
	@-webkit-keyframes @name { from {@from} to {@to} } /* Safari and Chrome */
	@-moz-keyframes @name { from {@from} to {@to} } /* Firefox */
	@keyframes @name { from {@from} to {@to} }
}

.marquee-direction(@direction) {
	/* UNTESTED, NO DOCUMENTATION AVAILABLE */
	-webkit-marquee-direction: @direction; /* Safari and Chrome */
	-moz-marquee-direction: @direction; /* Firefox */
	marquee-direction: @direction;
}

.marquee-play-count(@count) {
	/* UNTESTED, NO DOCUMENTATION AVAILABLE */
	-webkit-marquee-count: @count; /* Safari and Chrome */
	-moz-marquee-count: @count; /* Firefox */
	marquee-count: @count;
}

.marquee-speed(@speed) {
	/* UNTESTED, NO DOCUMENTATION AVAILABLE */
	-webkit-marquee-speed: @speed; /* Safari and Chrome */
	-moz-marquee-speed: @speed; /* Firefox */
	marquee-speed: @speed;
}

.marquee-style(@style) {
	/* UNTESTED, NO DOCUMENTATION AVAILABLE */
	-webkit-marquee-style: @style; /* Safari and Chrome */
	-moz-marquee-style: @style; /* Firefox */
	marquee-style: @style;
}

.perspective(@perspective) {
	-webkit-perspective: @perspective; /* Safari */
	perspective: @perspective;
}

.perspective-origin(@x-axis, @y-axis) {
	@val: @x-axis @y-axis;
	
	-webkit-perspective-origin: @val; /* Safari */
	perspective-origin: @val;
}

.phonemes(@phonemes) {
	-xv-phonemes: @phonemes; /* Opera */
	phonemes: @phonemes;
}

.opacity(@opacity: 100) {
	@normal-opacity: @opacity / 100;
	
	filter: e('alpha(opacity=')@opacity e(')'); /* Internet Explorer */
	opacity: @normal-opacity;
}

.voice-balance(@balance) {
	-xv-voice-balance: @balance; /* Opera */
	voice-balance: @balance;
}

.voice-duration(@duration) {
	-xv-voice-duration: @duration; /* Opera */
	voice-duration: @duration;
}

.voice-pitch(@pitch) {
	-xv-voice-pitch: @pitch; /* Opera */
	voice-pitch: @pitch;
}

.voice-pitch-range(@range) {
	voice-pitch-range: @range;
	-xv-voice-pitch-range: @range; /* Opera */
}

.voice-rate(@rate) {
	-xv-voice-rate: @rate; /* Opera */
	voice-rate: @rate;
}

.voice-stress(@stress) {
	-xv-voice-stress: @stress; /* Opera */
	voice-stress: @stress;
}

.voice-volume(@volume) {
	-xv-voice-volume: @volume; /* Opera */
	voice-volume: @volume;
}

/**
 * Additional functions
 */
.clear-float() {
	&:after {
		clear: both;
	    content: ".";
	    display: block;
	    height: 0;
	    visibility: hidden;
	}
}

.display-inline-block() {
	display: inline-block;
	zoom: 1; /* Internet Explorer */
	*display: inline; /* Internet Explorer */
}

/* Selection colours (easy to forget) */
.select-color(@color) {
	* {
		&::-moz-selection { background: @color; } /* Firefox */
		&::selection { background: @color; }
		
		img {
			&::-moz-selection { background: transparent; } /* Firefox */
			&::selection { background: transparent; }
		}
	}
}

.reset() {
	/* http://meyerweb.com/eric/tools/css/reset/ 
	   v2.0 | 20110126
	   License: none (public domain)
	*/
	
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
}